<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contact</title>
</head>
<body>
 <h3>TODOLIST CONTACTS</h3>
<div class="text-center mt-3">
    <a href="https://www.facebook.com/yourpage" target="_blank" class="btn btn-outline-primary me-2">
        <i class="bi bi-facebook"></i> Facebook
    </a>
    <a href="https://www.instagram.com/yourpage" target="_blank" class="btn btn-outline-danger me-2">
        <i class="bi bi-instagram"></i> Instagram
    </a>
    <a href="https://twitter.com/yourpage" target="_blank" class="btn btn-outline-info">
        <i class="bi bi-twitter"></i> Twitter
    </a>
</div>
</body>
</html>